{% extends 'main.html' %}
{% block content %}

{% if message %}
        <div class="alert alert-danger">{{ message }}</div>
{% endif %}

<div class="row"  style="margin-bottom: 175px;">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <center><h1>Hepatitis Disease Predictor</h1></center>
        <div class="card card-body" style="border: 1px solid black;">
            <form class="form-horizontal" action="{{ url_for('hepatitisPage') }}" method="POST">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="bilirubin" placeholder="bilirubin">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="albumin" placeholder="albumin">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="protime" placeholder="protime">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="gender" placeholder="Gender (Male: 1, Female: 0)">
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="steroid" placeholder="steroid ( Yes : 1,  No : 0 )">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="antivirals" placeholder="antivirals  ( Yes : 1,  No : 0 )">
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="fatigue" placeholder="fatigue  ( Yes : 1,  No : 0 )">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="malaise" placeholder="malaise  ( Yes : 1,  No : 0 )">
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="anorexia" placeholder="anorexia  ( Yes : 1,  No : 0 )">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="liverbig" placeholder="liverbig  ( Yes : 1,  No : 0 ) ">
                        </div>
                    </div>
                    
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="liverfirm" placeholder="liverfirm  ( Yes : 1,  No : 0 )">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="spleenpalpable" placeholder="spleenpalpable  ( Yes : 1,  No : 0 ) ">
                        </div>
                    </div>
                    
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="spiders" placeholder="spiders  ( Yes : 1,  No : 0 ) ">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="ascites" placeholder="ascites  ( Yes : 1,  No : 0 ) ">
                        </div>
                    </div>
                    
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="varices" placeholder="varices  ( Yes : 1,  No : 0 ) ">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" name="histology" placeholder="histology  ( Yes : 1,  No : 0 ) ">
                        </div>
                    </div>
                    
                </div>

                <input type="submit" class="btn btn-info btn-block" value="Predict">
            </form>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

{% endblock %}