<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'welcome.css')}}">
 	<link rel="stylesheet" type="text/css" href="../static/welcome.css">
</head>
<body>
	<nav>
		<ul>
			<li><a href="/">FlaskDemo</a></li>
		</ul>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/create">Create Post</a></li>
			{% if not session["usr"] %}
			<li><a href="/signup">SignUp</a></li>
			<li><a href="/login">Login</a></li>
			{% endif %}
	
			{% if session["usr"] %}
			<li><a href="/logout"> Logout</a></li>
			{% endif %}
		   
			{% if session["email"] %}
			<li>{{session["email"]}} </li>
			{% endif %}
	
		</ul>
	   
	</nav>
<div class="main">
	<h1>This is the welccccccccommmme page!!</h1>
	<h1 class="name">Hi, {{name}}</h1><hr style="width: 30%">
	<h3 class="email">{{email}}</h3>

</div>
<button >Logout </button>
</body>
</html>